

h1, h2{
    font-family: Verdana;

}


video {
    width: 90%;
    height: auto;
    text-align: center;

}

.videoContainer{
    display:none;

}



/*********** Form ****************/
.formLayerContainer{

    position:relative;
}

.formLayer{
    position:absolute;
    top: 3px;
    z-index: 100;
    background-color: #eaeaea;
    border-radius: 25px;
    border:2px solid black;
    display:none;
    padding:7px;
    margin:5px;
    margin-top:15px;
    box-shadow: 10px 10px 5px #888888;

}


#videoForm{
    display:none;
}

.formRow{
    display:inline-block;
    border:1px solid #000000;
    padding:5px 3px 5px 3px;
    margin:5px 3px 5px 3px;
    min-width:300px;
    margin-top:10px;
}
.formRow  label{
    display:inline-block;
    min-width: 100px;
    border:1px solid #eaeaea;
    padding:5px 3px 5px 3px;
    margin:5px 3px 5px 3px;

}

.formRow input{
    border:2px solid #a9a9a9;
    margin-right:10px;
    padding:4px;
}

.formRow input:focus{
    border:2px solid #000000;
background-color: #fcffde;
}



.loading{
text-align: center;
    width:90%;

}

/*************** Buttons ********************/

.iconButton{
    background-color : transparent;
    border: 1px solid #ffffff;
}

.iconButton:hover{
    background-color : #ffffe0;
    border: 1px solid #000000;
    cursor: pointer; cursor: hand;
}


.iconButton img{
    width: 20px;
    height: 20px;
    border: none;
}

.closeButton{
    float: left;
    margin-top:0px;
    background-color: #eaeaea;
    padding:3px;
}