<!DOCTYPE html>
<html lang="en" ng-app="videoApp">
<head>
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>






    <link rel="stylesheet" type="text/css" href="videoApp.css">
</head>
<body>



<h1>Video Player</h1>

<div id="videoLoader" class="loading">
<img src="images/loading.gif" width="100px" height="100px" alt="loading" title="loading"/>

</div>
<div class="videoContainer" id="videoContainer" ng-controller="videoController">
    <video id="mainVideo" src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" controls>

        Your browser does not support the <code>video</code> element.
    </video>


</div>



<!--
<h2>screenshots</h2>
<div>
    <canvas id="canvas" style="display:none;"></canvas>
    <div id="screenShots"></div>
</div>
-->

<div class="formLayerContainer" id="videoFormContainer">



<div id="videoFormLayer" class="formLayer" ng-controller="videoFormController">
    <button class="closeButton" data-ng-click="close()">x</button>

    <h2><span id="videoFormTitle">Add</span>  </h2>



    <form id="videoForm" name="videoForm"   ng-submit="videoFormSubmit(clip)" >
        <div> Max Duration: <span id="videoDuration">0</span> sec. </div>






        <div class="formRow">
            <label class="formLabel">Clip Name</label>
            <input type="text"  data-ng-model="clip.name" class="ng-touched" required  name="clipName" id="clipName" placeholder="clip name here" />
        </div>

        <div class="formRow">
            <label class="formLabel">Start Time</label>
            <input type="number"  min="1"  data-ng-model="clip.start" required name="clipStart"  id="clipStart"  placeholder="add start time here" />
        </div>
        <div class="formRow">
            <label class="formLabel">End Time</label>
            <input type="number"  min="1"  data-ng-model="clip.end" required name="clipEnd" id="clipEnd" placeholder="add end time here"  />
        </div>

        <input type="hidden" name="videoFormAction" id="videoFormAction"  data-ng-model="clip.action"/>



        <input type="hidden"  data-ng-model="clip.cid" name="clipKey" id="clipKey"  />


        <button class="formButton" id="clipButton" data-ng-model="clip.button">Add Clip</button>
    </form>


</div>
</div>

<hr>

{{ videoForm | json}}


<h2 id="clipListTitle">Video Clip List</h2>


<div id="listTopArea" ng-controller="listTopController" >
    <button data-ng-click="new()">add new clip</button>

    <ul>
        <li><a href="#" data-ng-click="play()">Full Clip</a></li>

    </ul>
</div>


<div id="listArea" ng-controller="clipListController">


</div>

<p>&nbsp;</p>

<h2>
    The application above has the following features:
</h2>

<ul>
    <li>
        An HTML5 video player that utilizes  media fragments
    </li>
    <li>
        A list of clips to be played in the video player

    </li>
    <li>
        The first item in the list should be the full video
    </li>
    <li>
        An interface to add new clips to the list by specifying a

        name
        ,  start time , and  end time
    </li>
    <li>

        The ability to delete clips from the list ( excluding the full video item )
    </li>
    <li>
        The ability to edit existing clips in the list

    </li>
    <li>
        The ability to play clips in the video player
    </li>
    <li>The ability to save clips for persistent use. (optional)
    </li>
    <li>This page is responsive</li>




</ul>


<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>


<script src="videoApp.js"></script>
</body>
</html>